
<section>
    <!-- Features Container -->
    <!-- Container -->
    <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32"><!-- Component -->
      <!-- Features Title -->
      <div class="flex flex-col items-center text-center">
        <h2 class="text-3xl font-bold md:text-5xl">Make every step user-centric</h2>
        <p class="mb-8 mt-4 max-w-xl text-base text-[#636262] md:mb-12 md:text-lg lg:mb-16">Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit amet luctus magna fringilla urna</p>
      </div>
      <!-- Features Content -->
      <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3 md:gap-4 lg:gap-6">
        <!-- Features Card 1 -->
        <div class="grid gap-6 rounded-md border border-solid border-[#cdcdcd] bg-white p-8 md:p-10">
          <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a945e53e6cf8f_Ellipse%2011%20(1).svg" alt="" class="inline-block h-16">
          <h3 class="text-xl font-semibold">Support</h3>
          <p class="text-sm text-[#636262]">Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit.</p>
        </div>
        <!-- Features Card 2 -->
        <div class="grid gap-6 rounded-md border border-solid border-[#cdcdcd] bg-white p-8 md:p-10">
          <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a945e53e6cf8f_Ellipse%2011%20(1).svg" alt="" class="inline-block h-16">
          <h3 class="text-xl font-semibold">Organise</h3>
          <p class="text-sm text-[#636262]">Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit.</p>
        </div>
        <!-- Features Card 3 -->
        <div class="grid gap-6 rounded-md border border-solid border-[#cdcdcd] bg-white p-8 md:p-10">
          <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a945e53e6cf8f_Ellipse%2011%20(1).svg" alt="" class="inline-block h-16">
          <h3 class="text-xl font-semibold">Flexibility</h3>
          <p class="text-sm text-[#636262]">Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit.</p>
        </div>
        <!-- Features Card 4 -->
        <div class="grid gap-6 rounded-md border border-solid border-[#cdcdcd] bg-white p-8 md:p-10">
          <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a945e53e6cf8f_Ellipse%2011%20(1).svg" alt="" class="inline-block h-16">
          <h3 class="text-xl font-semibold">Speed</h3>
          <p class="text-sm text-[#636262]">Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit.</p>
        </div>
        <!-- Features Card 5 -->
        <div class="grid gap-6 rounded-md border border-solid border-[#cdcdcd] bg-white p-8 md:p-10">
          <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a945e53e6cf8f_Ellipse%2011%20(1).svg" alt="" class="inline-block h-16">
          <h3 class="text-xl font-semibold">Quality</h3>
          <p class="text-sm text-[#636262]">Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit.</p>
        </div>
        <!-- Features Card 6 -->
        <div class="grid gap-6 rounded-md border border-solid border-[#cdcdcd] bg-white p-8 md:p-10">
          <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a945e53e6cf8f_Ellipse%2011%20(1).svg" alt="" class="inline-block h-16">
          <h3 class="text-xl font-semibold">Resource</h3>
          <p class="text-sm text-[#636262]">Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit.</p>
        </div>
      </div>
    </div>
  </section>
